.login-form{
  text-align-last: center;
  background-image: url(../images/Tomatillo-rotton.png);
  font-size: x-large;
}
.email-label{
    display: block;
    font-weight: bold;
}
.password-label{
    display: block;
    font-weight: bold;
}
.login-submit{
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
}
